<?xml version="1.0" encoding="utf-8" ?>
    <configuration>
      <startup>
        <supportedRuntime version="net5.0" sku=".NETCore,Version=v6.0" />
      </startup>
      <appSettings>
        <add key="Generic_WebUiInstallPath" value="" />
        <add key="Generic_LogMicroservice" value="WebUI" />
        <add key="Generic_LogPath" value="tmp/" />
        <add key="Generic_LogLevel" value="debug" />
        <add key="Generic_LogToConsole" value="true" />
        <add key="WebApiClient_HttpsOn" value="true" />
        <add key="WebApiClient_Https20" value="true" />
        <add key="WebApiClient_TargetIp" value="NodeMonitor" />
        <add key="WebApiClient_TargetPort" value="55000" />
        <add key="GrpcClient_HttpsOn" value="false" />
        <add key="GrpcClient_TargetIp" value="NodeMonitor" />
        <add key="GrpcClient_TargetPort" value="55000" />
        <add key="Blazor_HttpsOn" value="true" />
        <add key="Blazor_CertPw" value="eistee" />
        <add key="Blazor_CertPath" value="/https/webui.server.pfx" />
        <add key="Blazor_Ip" value="0.0.0.0" />
        <add key="Blazor_Port" value="443" />
      </appSettings>
    </configuration>