<?xml version="1.0" encoding="utf-8" ?>
    <configuration>
      <startup>
        <supportedRuntime version="v3.1" sku=".NETCore,Version=v3.1" />
      </startup>
      <appSettings>
        <add key="generic_WebUiInstallPath" value="" />
        <add key="Generic_LogPath" value="tmp/" />
        <add key="Generic_LogToConsole" value="true" />

        <add key="SignalR_HttpsOn" value="false" />

        <add key="SignalR_ClientIp" value="localhost" />
        <add key="SignalR_ClientPort" value="8090" />
        <add key="SignalR_ServerIp" value="10.0.0.10" />
        <add key="SignalR_ServerPort" value="8080" />
        <add key="SignalR_NodeMonHub" value="nodemon" />
        <add key="SignalR_EnableCrossDomain" value="false" />
        <add key="SignalR_EnableDetailedErrors" value="true" />
        <add key="SignalR_ApiVersion" value="1.0" />
      </appSettings>
    </configuration>