<?xml version="1.0" encoding="utf-8" ?>
    <configuration>
      <startup>
        <supportedRuntime version="v3.1" sku=".NETCore,Version=v3.1" />
      </startup>
      <appSettings>
        <add key="Generic_NodeMonInstallPath" value="" />
        <add key="Generic_LogMicroservice" value="NodeMonitor" />
        <add key="Generic_LogPath" value="tmp/" />
        <add key="Generic_LogLevel" value="debug" />
        <add key="Generic_LogToConsole" value="true" />
        <add key="WebApiClient_HttpsOn" value="false" />
        <add key="WebApiClient_Https20" value="false" />
        <add key="WebApiClient_TargetIp" value="explorer.grid.tf" />
        <add key="WebApiClient_TargetPort" value="443" />
        <add key="GrpcServer_HttpsOn" value="false" />
        <add key="GrpcServer_Ip" value="NodeMonitor" />
        <add key="GrpcServer_Port" value="55000" />
        <add key="Database_Ip" value="10.0.0.10" />
        <add key="Database_Port" value="1433" />
        <add key="Database_Catalog" value="omniflow_services" />
        <add key="Database_User" value="SA" />
        <add key="Database_Password" value="Passw0rd" />
        <add key="Database_Typ" value="mssql" />
        <add key="Database_ConnectionString" value="data source=10.0.0.10,1433;initial catalog=omniflow_services;User ID=SA;Password=Passw0rd" />
        <add key="Database_ConnectRetryNumber" value="10" />
        <add key="Database_ConnectRetryGapInSeconds" value="30" />
      </appSettings>
    </configuration>

<!--
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NodeMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <NodeMonitor.Properties.Settings>
      <setting name="Generic_NodeMonInstallPath" serializeAs="string">
        <value></value>
      </setting>
      <setting name="Generic_LogPath" serializeAs="string">
        <value>tmp/</value>
      </setting>
      <setting name="Generic_LogToConsole" serializeAs="boolean">
        <value>true</value>
      </setting>
      <setting name="SignalR_HttpsOn" serializeAs="string">
        <value>false</value>
      </setting>
      <setting name="SignalR_ClientIp" serializeAs="string">
        <value>10.0.0.10</value>
      </setting>
      <setting name="SignalR_ClientPort" serializeAs="string">
        <value>8090</value>
      </setting>
      <setting name="SignalR_ServerIp" serializeAs="string">
        <value>10.0.0.10</value>
      </setting>
      <setting name="SignalR_ServerPort" serializeAs="string">
        <value>8080</value>
      </setting>
      <setting name="SignalR_EnableCrossDomain" serializeAs="boolean">
        <value>false</value>
      </setting>
      <setting name="SignalR_EnableDetailedErrors" serializeAs="boolean">
        <value>true</value>
      </setting>
      <setting name="Database_Ip" serializeAs="String">
        <value>10.0.0.10</value>
      </setting>
      <setting name="Database_Port" serializeAs="String">
        <value>1433</value>
      </setting>
      <setting name="Database_Catalog" serializeAs="String">
        <value>omniflow_services</value>
      </setting>
      <setting name="Database_User" serializeAs="String">
        <value>SA</value>
      </setting>
      <setting name="Database_Password" serializeAs="String">
        <value>Pa$$word</value>
      </setting>
      <setting name="Database_Typ" serializeAs="String">
        <value>mssql</value>
      </setting>
    </NodeMonitor.Properties.Settings>
  </applicationSettings>
</configuration>
-->